/* .achievement{
    background-color: #f2f2f2;
}
.achievement_container{
    display: flex;
    flex-direction: row;
}
.achievement_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}
.achievement_left h1{
    color: #1c5739;
}
.achievement_right{
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.border{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 23px 25px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.middle{
    display: flex;
    justify-content: center;
}
.acheviement_circle{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1c5739;
    justify-content: center;
    align-items: center;
}
.acheviement_circle img{
    color: white;
    width: 80px;
    height:60px;
    object-fit: contain;
}
.middle_circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: antiquewhite;
    border: 10px solid #397d5a;
}
.middle_circle img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}


@media (max-width: 1200px) {
    .achievement_container {
        padding: 10px;
    }
    .border {
        width: 250px;
        height: 250px;
    }
    .middle_circle {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .achievement_container {
        flex-direction: column;
        align-items: center;
    }

    .achievement_left, 
    .achievement_right {
        width: 100%;
        padding: 10px;
    }

    .border {
        width: 200px;
        height: 200px;
    }
    
    .middle_circle {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 480px) {
    .achievement {
        padding: 10px;
    }
    
    .achievement_left h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .border {
        width: 150px;
        height: 150px;
    }

    .middle_circle {
        width: 120px;
        height: 120px;
    }

    .border{
        padding: 13px 13px;
    }

    .acheviement_circle {
        width: 80px;
        height: 80px;
    }

    .acheviement_circle img {
        width: 50px;
        height: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

} */

.achievement_container{
    border-top: 10px solid white;
    min-height: 100vh;
    width: 100%;
    background:url('../assets/ach.png');
    background-size: cover;
    color: white;
}
.white_line{
    width: 50%;
    height: 8px;
    background-color: white;
    margin-bottom: 40px;
}
.white_line_btn{
    width: 40%;
    height: 8px;
    background-color: white;
    margin-left: 5px;
}
.achievement_container h1{
    margin-left: 20px;
    font-size: 12vh;
}
.achievement_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.achievement_bottom h1{
    font-size: 3vh;
}
.achievement_box{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 20px;
    height: auto;
    width: 90%;
    padding: 30px;
    font-size: 3.7vh;
}
.acheviement_mobile {
    display: none;
}

@media (max-width: 768px) {
    .achievement_container{
        border-top: 2px solid black;
        background: none;
        background-color: #000000;
    }
    .achievement_container h1{
        color: black;
        font-size: 5vh;
        text-align: center;
        background-color: white;
        margin-left: 0px;
    }
    .achievement_bottom{
        display: none;
    }
    .achievement_box{
        display: none;
    }
    .white_line{
        display: none;
    }
    .acheviement_mobile{
        display: block;
        width: 100%;
        /* height: 100vh; */
    }
    .ach_middle{
        width: 100%;
        height: auto;
    }
    .ach_middle img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .ach_top{
        background: linear-gradient(to bottom, white,  #DEDEDE);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: black;
        font-size: 2.2vh;
        font-weight: 500;
    }
    .ach_bottom{
        margin-top: -10px;
        background: linear-gradient(to top, #000000, #5B5B5B);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: white;
        font-size: 2.2vh;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    /* .achievement_container{
        border-top: 2px solid black;
        background: none;
        background-color: #000000;
    }
    .achievement_container h1{
        color: black;
        font-size: 5vh;
        text-align: center;
        background-color: white;
        margin-left: 0px;
    }
    .achievement_bottom{
        display: none;
    }
    .achievement_box{
        display: none;
    }
    .white_line{
        display: none;
    }
    .acheviement_mobile{
        display: block;
        width: 100%;
    }
    .ach_middle{
        width: 100%;
        height: auto;
    }
    .ach_middle img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .ach_top{
        background: linear-gradient(to bottom, white,  #DEDEDE);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: black;
        font-size: 2.2vh;
        font-weight: 500;
    }
    .ach_bottom{
        margin-top: -10px;
        background: linear-gradient(to top, #000000, #5B5B5B);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: white;
        font-size: 2.2vh;
        font-weight: 500;
    } */
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .achievement_container{
        border-top: 2px solid black;
        background: none;
        background-color: #000000;
    }
    .achievement_container h1{
        color: black;
        font-size: 5vh;
        text-align: center;
        background-color: white;
        margin-left: 0px;
    }
    .achievement_bottom{
        display: none;
    }
    .achievement_box{
        display: none;
    }
    .white_line{
        display: none;
    }
    .acheviement_mobile{
        display: block;
        width: 100%;
    }
    .ach_middle{
        width: 100%;
        height: auto;
    }
    .ach_middle img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .ach_top{
        background: linear-gradient(to bottom, white,  #DEDEDE);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: black;
        font-size: 2.2vh;
        font-weight: 500;
    }
    .ach_bottom{
        margin-top: -10px;
        background: linear-gradient(to top, #000000, #5B5B5B);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: white;
        font-size: 2.2vh;
        font-weight: 500;
    } 
}