.achievement_container{
    border-top: 10px solid white;
    min-height: 100vh;
    width: 100%;
    background:url('../assets/ach.png');
    background-size: cover;
    color: white;
}
.white_line{
    width: 50%;
    height: 8px;
    background-color: white;
    margin-bottom: 40px;
}
.white_line_btn{
    width: 40%;
    height: 8px;
    background-color: white;
    margin-left: 5px;
}
.achievement_container h1{
    margin-left: 20px;
    font-size: 12vh;
}
.achievement_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.achievement_bottom h1{
    font-size: 3vh;
}
.achievement_box{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 20px;
    height: auto;
    width: 90%;
    padding: 30px;
    font-size: 3.7vh;
}
.achievement_box p{
    line-height: 40px;
    font-weight: 700;
}
.acheviement_mobile {
    display: none;
}

@media (max-width: 768px) {
    .achievement_container{
        border-top: 2px solid black;
        background: none;
        background-color: #000000;
    }
    .achievement_container h1{
        color: black;
        font-size: 5vh;
        text-align: center;
        background-color: white;
        margin-left: 0px;
    }
    .achievement_bottom{
        display: none;
    }
    .achievement_box{
        display: none;
    }
    .white_line{
        display: none;
    }
    .acheviement_mobile{
        display: block;
        width: 100%;
    }
    .ach_middle{
        width: 100%;
        height: auto;
    }
    .ach_middle img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .ach_top{
        background: linear-gradient(to bottom, white,  #DEDEDE);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: black;
        font-size: 2.5vh;
        font-weight: 800;
        line-height: 35px;
    }
    .ach_bottom{
        margin-top: -10px;
        background: linear-gradient(to top, #000000, #5B5B5B);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: white;
        font-size: 2.5vh;
        font-weight: 800;
        line-height: 35px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .achievement_container{
        border-top: 2px solid black;
        background: none;
        background-color: #000000;
    }
    .achievement_container h1{
        color: black;
        font-size: 5vh;
        text-align: center;
        background-color: white;
        margin-left: 0px;
    }
    .achievement_bottom{
        display: none;
    }
    .achievement_box{
        display: none;
    }
    .white_line{
        display: none;
    }
    .acheviement_mobile{
        display: block;
        width: 100%;
    }
    .ach_middle{
        width: 100%;
        height: auto;
    }
    .ach_middle img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .ach_top{
        background: linear-gradient(to bottom, white,  #DEDEDE);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: black;
        font-size: 2.2vh;
        font-weight: 500;
    }
    .ach_bottom{
        margin-top: -10px;
        background: linear-gradient(to top, #000000, #5B5B5B);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: white;
        font-size: 2.2vh;
        font-weight: 500;
    } 
}

@media (min-width: 1920px) {
    .achievement_box p{
        font-size: 4vh;
        line-height: 90px;
    }
}