.main_contact{
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
}
.contact_container{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #a6a6a6;
    margin-bottom: 40px;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
.form-error {
    color: red;
    font-size: 16px;
    margin-top: 15px;
}
  
.top_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.top_section h1{
    font-size: 10vh;
}
.top_section h2{
    font-size: 10vh;
}
.mid_section{
    display: flex;
    gap: 50px;
    margin-left: 75px;
    margin-top: 20px;
}
.mid_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 4vh;
    font-weight: 500;
}
.mid_right{
    display: flex;
    flex-direction: column;
}
.mid_right form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mid_right form input{
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    font-size: 3vh;
    font-weight: 500;
}
.mid_right form textarea{
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    font-size: 3vh;
    font-weight: 500;
}
.mid_right form button{
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 30px;
    background-color: #292929;
    color: white;
    font-size: 3vh;
    font-weight: 700;
}
.icon_container{
    display: flex;
    gap: 15px;
}
.icon_container p{
    font-size: 3.5vh;
    color: white;
}
.icon_circle{
    width: 30px;
    height: 30px;
    background-color: #292929;
    border-radius: 50%;
}
.bottom_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: linear-gradient(to right, #f45128, #feb47b);
    margin-top: 30px;
    font-size: 3vh;
}
.bottom_section h1{
    font-size: 4vh;
    color: white;
}
.icon_circle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_circle i{
    color: white;
    
}


@media (min-width: 768px) and (max-width: 1023px){

    .contact_container{
        margin-left: 10px;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .contact_container {
      margin-top: 50px;
      margin-left: 5%;
      width: 90%;
    }
    .top_section{
        margin-top: 20px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .top_section h1 {
      font-size: 4vh;
    }
  
    .top_section h2 {
      font-size: 4vh;
      margin-top: -15px;
    }
  
    .mid_section {
      flex-direction: column;
      gap: 30px;
      margin-left: 25px;
    }
  
    .mid_left, .mid_right form {
      font-size: 2vh;
    }
  
    .mid_right form input,
    .mid_right form textarea {
      width: 90%;
      font-size: 2vh;
    }
  
    .mid_right form button {
      font-size: 2vh;
      height: 35px;
      width:90%;
    }
  
    .icon_container p {
      font-size: 2.5vh;
    }
  
    .bottom_section h1 {
        padding: 20px 40px;
      font-size: 2vh;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .icon_circle{
        width: 100px;
        height: 100px;
    }
    .contact_container {
        margin-top: 50px;
      margin-left: 5%;
      width: 90%;
    }
    .top_section{
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .top_section h1 {
      font-size: 4vh;
      margin-left: 30px;
    }
  
    .top_section h2 {
      font-size: 4vh;
      margin-left: 120px;
      margin-top: -15px;
    }
  
    .mid_section {
      flex-direction: column;
      gap: 30px;
      margin-left: 25px;
    }
  
    .mid_left, .mid_right form {
      font-size: 2vh;
    }
  
    .mid_right form input,
    .mid_right form textarea {
      width: 90%;
      height: 100px;
      font-size: 2vh;
    }
  
    .mid_right form button {
      font-size: 2vh;
      height: 80px;
      width:90%;
    }
  
    .icon_container p {
      font-size: 2.5vh;
    }
  
    .bottom_section{
        height: 200px;
    }
    .bottom_section h1 {
        padding: 20px 40px;
      font-size: 2vh;
    }
  }

  @media (min-width: 1920px) {
    .mid_right form input{
        width: 400px;
        height: 100px;
    }
    .mid_right form textarea{
        width: 400px;
        height: 100px;
    }
    .mid_right form button{
        width: 400px;
        height: 100px;
    }
    .bottom_section{
        height: 250px;
    }
    .icon_circle{
        width: 80px;
        height: 80px;
    }
  }