.DetailedCard_Container{
    min-height: 100vh;
    background-color: seashell;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.allcards a{
  text-decoration: none;
  color: black;
  font-weight: 900;
  background-color: aliceblue;
  padding: 7px 8px;
  border-radius: 5px;
}

.allcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
  }
  
  .pdf-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: url('../assets/background-1974467_1920.jpg');
    background-size: cover;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
    height: 250px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    gap: 15px;
    cursor: pointer;
  }
  .pdf-card h3{
    font-size: 4vh;
    font-weight: bold;
  }
  .pdf-card p{
    font-size: 3vh;
    font-weight: 600;
  }
  .pdf-card button{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 2.5vh;
    font-weight: 700;
    border-radius: 3px;
    background-color:aliceblue;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .modal-content iframe {
    width: 100%;
    height: 500px;
    border: none;
  }
  
  .modal-content iframe::-webkit-scrollbar {
    display: none;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #fff;
  }
  .DetailedCard_Container h1{
    text-align: center;
  }

@media (max-width: 768px) {
    .DetailedCard_Container h1{
      font-size: 3.5vh;
    }
    .allcards {
      flex-direction: column;
      align-items: center;
    }
    .pdf-card {
      width: 100%;
      max-width: 300px;
      padding: 10px;
    }
    .modal-content {
      width: 95%;
      height: 100vh; 
      border-radius: 0; 
    }
    .modal-content iframe {
      height: calc(100vh - 40px); 
    }
    .close {
      font-size: 22px;
    }
    .pdf-card h3{
      font-size: 2.8vh;
    }
    .pdf-card p{
      font-size: 2.5vh;
      font-weight: 500;
    }
    .pdf-card button{
      border: none;
      outline: none;
      padding: 10px;
      font-size: 2vh;
      font-weight: 700;
      border-radius: 3px;
      background-color:aliceblue;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px){
    .modal-content {
      width: 95%;
      height: 100vh; 
      border-radius: 0; 
    }
    .modal-content iframe {
      height: calc(100vh - 40px); 
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .DetailedCard_Container h1{
      font-size: 3.5vh;
    }
    .allcards {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    .pdf-card {
      width: 80%;
      height:100%;
      padding: 30px;
    }
    .modal-content {
      width: 95%;
      height: 100vh; 
      border-radius: 0; 
    }
    .modal-content iframe {
      height: calc(100vh - 40px); 
    }
    .close {
      font-size: 22px;
    }
    .pdf-card h3{
      font-size: 3vh;
    }
    .pdf-card p{
      font-size: 2.5vh;
      font-weight: 500;
    }
    .pdf-card button{
      border: none;
      outline: none;
      padding: 10px;
      font-size: 2vh;
      font-weight: 700;
      border-radius: 3px;
      background-color:aliceblue;
    }
  }

  @media (min-width: 1920px) {
    .DetailedCard_Container h1{
      font-size: 5vh;
    }
    .pdf-card{
      width: 600px;
      height: 600px;
    }
    .pdf-card h3{
      font-size: 3.5vh;
    }
    .pdf-card p{
      font-size: 3vh;
    }
    .pdf-card button{
      font-size: 3vh;
    }
  }