.experience_container{
    border-bottom: 2px solid black;
    padding: 0px 0px;
    /* background-color: #f7f6f3; */
    background-color: #D9D9D9;
}
.top_experience{
    height: 100px;
    /* background-color: #a6a6a6; */
    background-color: grey;
    /* background: linear-gradient(to right, blue 30%, lightblue 60%); */
    /* background: linear-gradient(to right, #93A5CF, #E4EFE9); */

}
.experience_container h1{
    font-size: 7vh;
    margin-left: 50px;
    padding: 20px;
    /* color: brown; */
    color: black;
}
.exp_img{
    height: 320px;
    width: 1150px;
    /* background-color: aquamarine; */
    margin:20px;
    border-radius: 180px 180px 35px 35px;
    border: 2px solid black;
}
.exp_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 180px 180px 35px 35px;
}
.exp_info{
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 20px;
}
.exp_content{
    display: flex;
    flex-direction: column;
}
.exp_content p{
    font-size: 3.5vh;
    font-weight: 500;
    line-height: 30px;
    width: 70%;
}
.counts{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
    width: 80%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    /* justify-content: center; */
    padding: 0px 0px;
}
.eachcount h1{
    margin-left: 0px;
    font-size: 5.5vh;
    /* color: brown; */
    color: black;
}
.eachcount h2{
    font-size: 3.5vh;
    font-weight: 600;
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
}


/* Responsive adjustments for screens smaller than 768px (tablets, small laptops) */
@media (max-width: 768px) {
    .experience_container{
        align-items: center;
        justify-content: center;
        /* padding: 20px 50px; */
    }
    .exp_info{
        padding: 0px;
        flex-direction: column;
    }
    .exp_img{
        /* margin-left: -10px; */
        width: 300px;
        margin-left: -75px;
    }
    .exp_content{
        margin-top: -80px;
        margin-left: -70px;
    }
    .exp_content p{
        padding: 5px;
        font-size: 2.5vh;
        width: 90%;
        line-height: 35px;
    }
    .eachcount h2{
        font-size: 2vh;
    }
    .eachcount h1{
        font-size: 3vh;
    }
}

/* Responsive adjustments for mobile devices smaller than 480px (mobile phones) */
@media (max-width: 480px) {
    .experience_container{
        align-items: center;
        justify-content: center;
        /* padding: 20px 50px; */
    }
    .top_experience{
        width: 100%;
    }
    .top_experience h1{
        font-size: 4vh;
        margin-left: 5px;
    }
    /* .exp_img{
        margin-left: -50px;
    } */
    .counts{
        width: 100%;
        gap: 0px;
        margin-bottom: 30px;
    }
    .exp_info{
        padding: 0px;
        flex-direction: column;
    }
    .exp_img{
        margin-left: 0px;
        width: 300px;
        margin-left: -75px;
    }
    .exp_content{
        justify-content: center;
        /* align-items: center; */
        width: 100%;
        /* margin-left: 0px; */
    }
    .exp_content p{
        padding: 0px;
        font-size: 2.3vh;
        width: 90%;
        line-height: 35px;
    }
    .eachcount h2{
        font-size: 1.5vh;
    }
    .eachcount h1{
        font-size: 2.5vh;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .experience_container{
        align-items: center;
        justify-content: center;
        padding: 20px 50px;
    }
    .experience_container h1{
        font-size: 2vh;
    }
    .exp_info{
        padding: 0px;
        flex-direction: column;
    }
    .exp_img{
        margin-left: 0px;
        width: 300px;
        margin-left: -75px;
    }
    .exp_content{
        margin-top: -80px;
        margin-left: -70px;
    }
    .exp_content p{
        font-size: 1.5vh;
        width: 90%;
        line-height: 50px;
    }
    .eachcount h2{
        font-size: 1.5vh;
    }
    .eachcount h1{
        font-size: 2vh;
    }
  }
  

/* @media (max-width: 1200px)  {
    .experience_container{
        width: 100%;
    }
    .exp_img{
        width: 1700px;
        height: 500px;
    }
    .experience_container h1{
        font-size: 3.5vh;
    }
    .exp_info{}
    .exp_content p{
        font-size: 3vh;
        line-height: 60px;
    }
    .eachcount h1{
        font-size: 3.5vh;
    }
    .eachcount h2{
        font-size: 3vh;
    }
} */

