.experience_container{
    width: 100%;
    min-height: 100vh;
    background: url('../assets/experience.png');
    background-size: cover ;
    color: white;
}
.scrollable-box {
    width: 100%;
    max-height: 300px; 
    overflow-y: auto; 
    background-color: transparent; 
    padding: 15px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


.scrollable-box::-webkit-scrollbar {
    width: 0px;
}
.scrollable-box::-webkit-scrollbar-thumb {
    background: #919199; 
    border-radius: 4px;
}
.scrollable-box::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
}
.top_experience{
    font-size: 9.5vh;
    margin-left: 10px;
}
.exp_content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    width: 46%;
}
.exp_content p{
    font-size: 4vh;
    font-weight: 600;
    color: white;
}
.exp_top_delow{
    margin-left: 300px;
    margin-top: -20px;
}
.counts{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.counts h1{
    font-weight: bold;
}
.counts h2{
    font-weight:600;
}
@media (max-width: 768px) {
    .experience_container{
        width: 100%;
        background: url('../assets//experience.png');
        background-size:cover ;
        background-repeat: no-repeat;
    }
    .top_experience {
        font-size: 4vh;
        margin-left: 0;
    }

    .exp_content {
        width: 80%;
        margin: 0 auto;
    }

    .exp_content p {
        font-size: 3.5vh;
    }

    .exp_top_delow {
        margin-left: 0;
        text-align: center;
        margin-top: 10px;
    }

    .counts {
        text-align: center;
        gap: 15px;
    }
}

@media (max-width:767px) and (orientation: landscape){
    .exp_content p{
        font-size: 4vh;
        color: aquamarine;
    }
}
@media (max-width: 768px) {
    .experience_container{
        margin-top: 1px;
        width: 100%;
        height: auto;
        background: url('../assets//expmob.png');
        background-size:cover ;
        background-repeat: no-repeat;
    }
    .top_experience {
        font-size: 3.5vh;
        margin-left: 10px;
    }

    .exp_content {
        width: 90%;
        margin-top: 330px;
        padding: 25px;
    }

    .exp_content p {
        font-size: 2.5vh;
        color: black;
    }

    .exp_top_delow {
        text-align: end;
        margin-right: 10px;
        margin-top: -20px;
    }

    .counts {
        gap: 19px;
    }

    .counts h1{
        font-size: 3vh;
        color: black;
    }
    .counts h2 {
        font-size: 2vh;
        color: black;
    }
    .scrollable-box p{
        line-height: 40px;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .experience_container{
        position: relative;
        margin-top: 1px;
        width: 100%;
        height: 100vh;
        background: url('../assets//expmob.png');
        background-size:cover ;
        background-repeat: no-repeat;
    }
    .top_experience {
        font-size: 3.5vh;
        margin-left: 10px;
    }

    .exp_content {
        width: 90%;
        position: absolute;
        bottom: 0%;
        margin-top: 330px;
        padding: 25px;
    }

    .exp_content p {
        font-size: 2.5vh;
        color: black;
    }

    .exp_top_delow {
        text-align: end;
        margin-right: 10px;
        margin-top: -20px;
    }

    .counts {
        gap: 19px;
    }

    .counts h1{
        font-size: 3vh;
        color: black;
    }
    .counts h2 {
        font-size: 2vh;
        color: black;
    } 
}

@media (min-width: 1920px) {
    .exp_content{
        gap: 60px;
    }
    .exp_top_delow h2{
        font-size: 3.5vh;
    }
    .scrollable-box{
        max-height: 700px;
    }
    .scrollable-box p{
        font-size: 4vh;
    }
    .eachcount h1{
        font-size: 4vh;
    }
    .eachcount h2{
        font-size: 4vh;
    }
}