.gallery_container{
    margin: 0;
    background-color: black;
    min-height: 100vh;
}
.gallery_container h1{
    padding: 20px;
    color: white;
    text-align: center;
}
@media (max-width: 768px) {
    .gallery_container h1{
        font-weight: 200;
        margin-left: 10px;
        font-size: 3vh;
        text-align: left;
    }
}