@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Mukta:wght@300;400&display=swap&subset=devanagari');

.carousel_item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
}

.carousel_item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.home_container{
    min-height: 100vh;
    background-image: url("../assets/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
}

.home_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    border-radius: 15px;
    background-color: hsla(0, 0%, 100%, 0.3);
    top: 29%;
    width: 42%;
    left: 230px;
    height: auto;
    color: white;
    align-items: center;
}
.home_content h1 {
    font-family: 'Mukta', sans-serif;
    font-size: 6vh;
    font-weight: 700;
}

.home_content p {
    font-size: 4vh;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    margin-top: 20px;
}

.home_content h2 {
    font-size: 3.5vh;
    text-align: center;
    font-weight: 500;
}
@media (max-width: 768px) {
    .home_container{
        height: 100vh;
        background-image: url("../assets/mobile_final.png");
        background-size: cover;
        background-position: center;
    } 
    .home_content{
        width: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%); 
        height: auto;
        padding: 30px;
        border-radius: 0px;
        align-items: center;
    }
    .home_content h1{
        margin-left: 0px;
        font-size: 2.5vh;
    }
    .home_content p{
        font-size: 2vh;
        font-weight: 600;
    }
    .home_content h2{
        font-size: 1.5vh;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .home_content{
        width: 50%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0%); 
    }
    .home_container{
        background-position:center;
    }
    
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .home_container{
        height: 100vh;
        background-image: url("../assets/mobile.png");
        background-size: cover;
    } 
    .home_content{
        width: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%); 
        height: auto;
        padding: 30px;
        border-radius: 0px;
        align-items: center;
    }
    .home_content h1{
        margin-left: 0px;
        font-size: 2.5vh;
    }
    .home_content p{
        font-size: 1.8vh;
        font-weight: 600;
    }
    .home_content h2{
        font-size: 1.5vh;
    } 
}

