/* 
.carousel-container{
    width: 90%;
    margin: auto;
}
.eachgallerycard{
    outline: none;
}
.eachgallerycard img{
    width: 100%;
    height: auto; 
}
.eachgallerycard p{
    text-align: center;
    font-size: 5vh;
    font-weight: 800;
    margin-top: 20px;
}
@media  (max-width: 768px) {
    .carousel-container{
        width: 100%;
    }
    .eachgallerycard p{
        text-align: center;
        font-size: 2.5vh;
        font-weight: 800;
        margin-top: 10px;
    }
    .eachgallerycard img{
        height: 40vh;
    }
    .eachgallerycard{
        height: 50vh;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .eachgallerycard p{
    text-align: center;
    font-size: 3vh;
    margin-top: 30px;
}

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
}

@media  (min-width: 1920px) {

} */

/* Carousel container */
/* .carousel-container {
    width: 90%;
    margin: auto;
    position: relative;
}

.eachgallerycard {
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eachgallerycard img {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit:contain;
    object-position:center;
    border-radius: 10px;
}

.eachgallerycard p {
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    margin-top: 20px;
    color: black;
} */
/* >>>>>>>>>>>>>>>>>>>>>>>>> */
.carousel-container{
    
    margin: auto;
    width: 90%;
    outline: none;
    border: none;
}
.eachgallerycard{
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.gallery_image{
    width: 100%;
    height: 80%;
}
.eachgallerycard img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.eachgallerycard p{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 3.3vh;
    line-height: 40px;
    font-weight: 900;
}
.eachgallerycard h3{
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 4.5vh;
    margin-bottom: 5px;
    font-weight: 900;
    text-align: center;
}
.slick-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex !important;
    justify-content: center;
    gap: 8px;
    bottom: -30px;
    color: aqua;
}
.eachgallerycard h2{
    text-align: center;
    font-size: 3.5vh;
    margin-top: 20px;
    color: white;
}
/* .carousel-container{
    height: auto;
    width: 100%;
    background: url('../assets/ee.jpg');
} */


@media (max-width: 768px) {
    .carousel-container {
        width: 90%;
        padding: 0 10px;
    }
    .eachgallerycard{
        gap: 0px;
    }
    
    .eachgallerycard p {
        font-size: 2.3vh;
        line-height: 28px;
        margin-top: 8px;
        text-align: left;
        margin-left: 5px;
        margin-top: 8px;
    }

    .eachgallerycard img {
        /* height: 400px; */
        object-fit: contain;
    }
    .eachgallerycard h2{
        text-align: left;
        font-size: 2.5vh;
        margin-left: 5px;
        font-weight: 300;
    }
    .eachgallerycard h3{
        width: 100%;
        color: white;
        text-align: center;
        margin-top: 20px;
        font-size: 3.5vh;
        margin-bottom: 5px;
        font-weight: 900;
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .eachgallerycard p {
        font-size: 3vh;
        margin-top: 12px;
    }

    .eachgallerycard img {
        max-height: 50vh;
    }
}

@media (min-width: 1024px) {
    .eachgallerycard img {
        max-height: 60vh;
    }
}
