.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index:1000;
    position: absolute;
    gap: 60px;
    background-color: transparent;
}
.navbar h1{
    margin-left: 30px;
    color: black;
    font-size: 4vh;
}

.navItems ul {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 5vh; 
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}
.closebutton{
    cursor: pointer;
    gap: 5px;
    position: absolute;
    top:10px;
    right: 20px;
    font-weight: bold;
    font-size: 3vh;
    display: none;
    color: white;
}
.btn{
    color: black;
    outline: none;
    border: none;
    font-size: 4vh;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 200ms;
    padding-left: 24px;
    padding-right: 24px; 
    padding-top: 8px; 
    padding-bottom: 8px;
    border-radius: 9999px;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.3); 
}

@media (max-width: 768px) {
    .btn{
        background-color: black;
        font-size: 3vh;
        color: white;
    }
    .navbar {
        color: black;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        position: relative;
    }

    .navItems ul{
        height: 100%;
    }

    .navItems ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px; 
        right: 0;
        width: 100%;
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
    }

    

    .navItems.open ul {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
    
}

@media (max-width: 480px) {
    .navItems ul {
        font-size: 2vh;
        gap: 20px;
    }
    .navbar h1{
        color: white;
    }

    .navbar {
        padding: 15px 12px;
        position: absolute;
        top: 2px;
        width: 100%;
        background-color: black;
    }
    .navbar h1{
        font-size: 2.5vh;
    }
    
}
@media (min-width: 768px) and (max-width: 1024px) {
    .btn{
        background-color: black;
        font-size: 3vh;
        color: white;
    }
    .navbar {
        color: black;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        position: relative;
    }
    .navItems ul{
        height: 100%;
    }

    .navItems ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px; 
        right: 0;
        width: 100%;
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
    }

    

    .navItems.open ul {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
    .navbar h1{
        font-size: 2.5vh;
    }
}
@media (min-width: 1920px) {
    .navbar h1{
        font-size: 4vh;
    }
    .navbar{
        width: 100%;
        gap: 10px;
        justify-content:space-evenly;
    }
    .btn{
        font-size: 4vh;
        padding: 20px;
    }
    .navItems{
        gap: 20px;
    }
}